[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test
[submodule "riscv_core"]
	path = riscv_core
	url = git@github.com:igorwolfs/riscv_core.git
