[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test
[submodule "riscv-core"]
	path = riscv-core
	url = git@github.com:igorwolfs/riscv-core.git
